@import "../../scss/index.scss";

.users {
  &__title {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: bold;
    }

    input {
      width: 50%;
      border-radius: 50px;
      border: 0;
      background-color: $background-dark-light;
      padding: 5px 20px;
      color: $font-light;

      &:focus {
        outline: none;
      }
    }
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    > div {
      margin-bottom: 10px;
    }
  }
}
