@import "../../../scss/index.scss";

.infoModal {
  legend {
    font-size: 15px;
  }

  .modal-content {
    background-color: $background-grey-dark;
    border-radius: 25px;

    .modal-header {
      padding: 15px;
      border: 0;

      .modal-title {
        margin: 0 auto;
      }
    }

    .modal-body {
      padding: 10px 10px 10px 10px;
    }
  }
}
